<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head> -->
<% layout("/layouts/boilerplate") %>
 
    <div class="row mt-3">
      <div class="col-8 offset-2">

      
    <h3>Create new listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation"> 
        <div class="mb-3">
            <label for="title" class="form-label">Title</label><br> 
        <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required />
        <div class="valid-feedback">Title looks great.</div>
        <div class="invalid-feedback">Please write title</div>

        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label><br>
            <textarea name="listing[description]" placeholder="enter details" type="text" class="form-control" required></textarea>
            <div class="valid-feedback">Description looks great.</div>
            <div class="invalid-feedback">Please write some short description</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label><br>
            <input name="listing[image]" placeholder="enter image" type="text" class="form-control"/>
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label><br>
            <input name="listing[price]" placeholder="enter price" type="number" class="form-control" required/>
            <div class="valid-feedback">Price looks great.</div>
            <div class="invalid-feedback">Please write correct price</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label><br>
            <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required/>
            <div class="valid-feedback">Country looks great.</div>
            <div class="invalid-feedback">Please write country correctly</div>
        </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label><br>
            <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required/>
            <div class="valid-feedback">Location looks great.</div>
            <div class="invalid-feedback">Please write location correctly</div>
        </div>
        
        <br/>
        <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
    </div>  
    </div>
 
<!-- </html> -->